#title {
  height:600px;
  background-image: url("../img/home_header_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#navi {

position: sticky;
top: 0;
background-color: white;
font-family: "Raleway", sans-serif;
font-weight: 600;
color: gray;
text-decoration: none;

}

.form-group {
  width:300px;
}

textarea {
  width:78%;
}

.nav-link {
color: gray;
  margin-left: 100px;
}

button {
  margin-right:  70px;
}

#face {
  margin-left: 500px;
}

#twit {

margin-left: 25px;
}
hr {
  color: black;
}

#form-two {
  margin-left: 400px;
}

#insta {
margin-left: 25px;

}

#pg-one {
width:400px;

}

.btn .btn-outline-secondary {
  margin-left: 1000px;
}
footer {
  background-color: aqua;
  height: 200px;
}

#pic {
  width: 300px;
  padding-right: 0px;
  margin: 0;
margin-left: 80px;
margin-top: 0px;

}

#describe {

  height: 450px;
}

#last-one {
  margin-left: 150px;
  width: 810px;
}

#headpage {
margin-top: 200px;
letter-spacing: 5px;
color: white;
font-weight: 600;
}

#slogan {
  letter-spacing: 10px;
  color: white;
  font-weight: 600;
  margin-left: 400px;
}
 p {
   width: 350px;
   text-align: center;
   font-family: 'Raleway',sans-serif;
 }
